<%- include('./partials/header') %>

<div class="homepage-hero">
  <div class="hero-content">
    <h1>TrackOne</h1>
    <h2>Find the vibe before you find the venue.</h2>
    <p class="subheading">
     Discover curated experiences at wine bars, cafes, and restaurants — all based on mood, music, and ambiance.
    </p>

    <a href="/experiences" class="cta-button">Explore Experiences</a>
  </div>
</div>
 //if user 
<%- include('./partials/footer') %>
